/* css external library */

.card3,
.card-info3 {
  right: -1rem;
  z-index: 1;
}

.card2,
.card-info2 {
  left: -1rem;
  z-index: 1;
}

.card,
.card-info {
  
  z-index: 2;
}

.card,
.card2,
.card3 {
  position: absolute;
  --background: linear-gradient(to right, #13b37f 10%, #11a3c8 100%);
  width: calc(140px * 1);
  height: calc(200px * 1);
  padding: 0.9px;
  border-radius: 0.7rem;
  overflow: visible;
  background: var(--background);
}

.card::after,.card2::after,card3::after {
  position: relative;
  content: "";
  top: -22px;
  left: 0px;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  transform: scale(0.76);
  filter: blur(34.5px);
  background: var(--background);
  transition: opacity 0.5s;
}

.card-info,
.card-info2,
.card-info3 {
  --color: #1f1a1d;
  background: var(--color);
  color: var(--color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: visible;
  border-radius: 0.7rem;
}

.card .title,card2 .title,card3 .title {
  font-weight: light;
  letter-spacing: 0.2em;
}

/*Hover*/
.card:hover::after, 
.card2:hover::after, 
.card3:hover::after {
  opacity: 0.6;
  padding: 0.7rem 0;
  top: 18px;
  transition: 0.6s;
}

.card:hover,
:focus-within .card-info, .card2:hover,
:focus-within .card-info2, .card3:hover,
:focus-within .card-info3{
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
  color: #fff9f9;
  transition: color 1s;
  z-index: 999;
}
