:root {
  --background: #111111;
  --color: #fff;
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  background-color: var(--background);
  color: var(--color);
}

.light-mode {
  --background: var(--color);
  --color: var(--background);
}

header {
  width: 100vw;
  height: 2.2rem;
  background: #96e0f496;
  position: fixed;
  .nav-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.4rem;
  }

  svg {
    width: 1.7rem;
    height: 1.7rem;
    padding: 0;
    margin: 0;
  }

  h1 {
    margin: 0;
    padding: 0;
  }
}
.navBarLinks {
  display: none;
}
.linksContainer {
  position: absolute;
  top: 2rem;
  display: none;
  transition: 0.5s;
  z-index: 9999;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 50vw;
  background: linear-gradient(
    rgba(48, 180, 203, 0.618),
    rgba(73, 218, 206, 0.665)
  );
  border-radius: 1rem;
}

.burger {
  position: relative;
  width: 20px;
  height: 18px;
  top: 0.5rem;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: -2.5px;
  left: 2px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 14px;
  left: 2.5px;
}
:root {
  --dark: #00fb;
  --light: #fff;
}

.sideLinks {
  text-decoration: none;
  list-style: none;
  color: var(--light);
}

/* theme toggle */
.toggle-switch {
  position: absolute;
  /* width: ;
  height: 100%; */
  left: 1rem;
  top: calc(1rem / 2);
  --light: #d8dbe0;
  --dark: #080809;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
}

.switch-label {
  position: absolute;
  width: 2rem;
  height: 1rem;
  background-color: var(--dark);
  border-radius: 25px;
  cursor: pointer;
  border: 1.5px solid var(--dark);
}

.checkbox {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-box-shadow: inset 3px -1px 0px 0px var(--light);
  box-shadow: inset 3px -1px 0px 0px var(--light);
  background-color: var(--dark);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
  -webkit-transform: translateX(1rem);
  -ms-transform: translateX(1rem);
  transform: translateX(1rem);
  background-color: var(--dark);
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* content */
.content-container {
  display: block;
  justify-content: center;
  /* max-width: 1140px; */
}
.hero {
  background: url(./resourses/potential\ hazard\ astroids_jpl_3254.jpg);
  display: contents;
  justify-content: center;
  background-size: auto;
  z-index: -99999;
}
.hero-container {
  max-width: 256px;
  padding: 5.5rem 2rem 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(./resourses/Pleiades_Stocks_2048.jpg);
  background-size: cover;
  z-index: -9;

  .hero-image {
    margin-top: 1.4rem;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 4.5rem;
    background: url(../resourses/OIP.jpg);
    background-position: -27px;
    background-size: cover;
    /* box-shadow: 1px 1px 2.5px 1px #b0e7aa; */
  }
}

.text-container {
  max-width: 256px;
  padding: 2.5rem 2rem 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .hero-text {
    font-family: "DA Sans", sans-serif;
    text-align: center;
    justify-content: center;
    margin: 1rem 1rem;
    width: 320px;
    font-weight: 100;
    font-size: x-small;
    color: rgb(205, 197, 197);
  }
}
.about {
  margin: 0 auto;
}
.fill-button {
  width: 6rem;
}
button {
  outline: 0;
  border: none;
  display: flex;
  flex-direction: column;
  width: 70px;
  max-width: 140px;
  height: 1.5rem;
  border-radius: 0.5em;
  box-shadow: 0 0.625em 1em 0 rgba(30, 143, 255, 0.35);
  overflow: hidden;
}

button div {
  transform: translateY(-1px);
  width: 100%;
}

button,
button div {
  transition: 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

button div span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  padding: 0.75em 1.125em;
}

button div:nth-child(1) {
  background-color: #2d5883;
}

button div:nth-child(2) {
  background-color: #18562e;
}

button:hover {
  box-shadow: 0 0.625em 1em 0 rgba(33, 220, 98, 0.35);
}

button:hover div {
  transform: translateY(-33px);
}

button p {
  font-size: auto;
  font-weight: bold;
  color: #ffffff;
}

button:active {
  transform: scale(0.95);
}
.self-image {
  margin-top: 1.4rem;
  width: 9rem;
  height: 9rem;
  background: url(../resourses/OIP.jpg);
  background-position: -54px;
  background-size: cover;
  margin: 1rem auto;
}

h1 {
  font-family: "Montserrat";
  font-weight: 100;
  font-size: x-small;
}

h2 {
  font-size: medium;
  letter-spacing: 0.4rem;
}

h2,
h3 {
  font-family: "Montserrat";
  font-weight: 200;
  padding: 0.6rem 0;
}

.h3-wrap {
  width: 100%;

  h3 {
    display: flex;
    justify-content: start;
    width: 100%;
    font-size: xx-large;
    letter-spacing: 0.6rem;
    margin-top: 0;
  }
}

.projects {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20.1rem;
  /* width: 70vw; */
  margin: 1.5rem 1.5rem 0 1.5rem;
  border-radius: 1rem;
}

/* project description */
.description-container {
  width: auto;
  height: 5rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;

  .project-description {
    /* width: 60vw;
    height: 5rem; */
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* Add your background pattern here */
    background: rgba(29, 31, 32, 0.904)
      radial-gradient(rgba(255, 255, 255, 0.712) 10%, transparent 1%);
    background-size: 11px 11px;
    filter: blur(0.1rem);
  }
}

footer {
  background: rgba(150, 224, 244, 0.553);
  width: 100vw;
  height: 6rem;

  .socials-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
    width: 100%;
    height: 100%;

    svg {
      width: 0.7rem;
      height: 0.7rem;
      padding-right: 0.7rem;
    }
    .github {
      display: flex;
      align-items: center;
      font-size: xx-small;
      font-family: "DM Sans", sans-serif;
    }
    .instagram {
      display: flex;
      align-items: center;
      font-size: xx-small;
      font-family: "DM Sans", sans-serif;
    }
    .x {
      display: flex;
      align-items: center;
      font-size: xx-small;
      font-family: "DM Sans", sans-serif;
    }
    p {
      padding-right: 1rem;
    }
  }
}

/* MEDIA QUARIES */

/* screens smaller than 424px */
@media only screen and (min-width: 375px) and (max-width: 424px) {
  .burger {
    position: relative;
    width: calc(20px + 3px);
    height: calc(1rem + 0.37rem);
    top: 0.35rem;
    background: transparent;
    cursor: pointer;
    display: block;
    span {
      height: calc(4px + 1px);
    }
  }
  .switch-label {
    position: absolute;
    width: 2.4rem;
    height: 1.4rem;
    background-color: var(--dark);
    border-radius: 25px;
    cursor: pointer;
    border: 1.5px solid var(--dark);
  }
  .navBarLinks {
    display: none;
  }
  .hero-container {
    padding: 5.5rem 4rem 1rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .hero-image {
      margin-top: 1.4rem;
      width: 6.5rem;
      height: 6.5rem;
      border-radius: 6rem;
      background: url(../resourses/OIP.jpg);
      background-position: -39px;
      background-size: cover;
      box-shadow: 1px 1px 2.5px 1px #93ea89;
    }
    .hero-text {
      font-family: "DA Sans", sans-serif;
      text-align: center;
      font-weight: 10;
      font-size: small;
    }
  }
}

h1 {
  font-family: "Montserrat";
  font-weight: 100;
  font-size: x-small;
}

h2 {
  font-size: large;
  letter-spacing: 0.5rem;
}

h2,
h3 {
  font-family: "Montserrat";
  font-weight: 200;
  padding: 0.6rem 0;
}

.h3-wrap {
  padding-top: 2rem;
  width: 100%;
  /* float: left; */

  h3 {
    /* display: flex;
    justify-content: start; */
    width: 100%;
    font-size: xx-large;
    letter-spacing: 0.6rem;
    margin-top: 0;
  }
}
/* screens smaller than 425px */
@media only screen and (min-width: 425px) and (max-width: 768px) {
  .navBarLinks {
    display: none;
    overflow: hidden;
  }
  .hero-container {
    /* max-width: 256px; */
    padding: 5.5rem 5.5rem 1rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .hero-image {
      margin-top: 1.4rem;
      width: 12rem;
      height: 12rem;
      border-radius: 6rem;
      background: url(../resourses/OIP.jpg);
      background-position: -71px;
      background-size: cover;
      box-shadow: 1px 1px 2.5px 1px #93ea89;
    }
    .hero-text {
      font-family: "DA Sans", sans-serif;
      text-align: center;
      font-weight: 10;
      font-size: small;
    }
  }
}

h1 {
  font-family: "Montserrat";
  font-weight: 100;
  font-size: x-small;
}

h2 {
  font-size: large;
  letter-spacing: 0.5rem;
}

h2,
h3 {
  font-family: "Montserrat";
  font-weight: 200;
  padding: 0.6rem 0;
}

.h3-wrap {
  padding-top: 2rem;
  width: 100%;

  h3 {
    display: flex;
    justify-content: start;
    width: 100%;
    font-size: xx-large;
    letter-spacing: 0.6rem;
    margin-top: 0;
  }
}
/* screens smaller than 768px */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    display: flex;
  }
  .burger {
    left: -99999px;
  }
  .navBarLinks {
    display: flex;
    justify-content: end;
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    li {
      padding-top: 0.5rem;
    }
  }

  .hero-container {
    /* max-width: 256px; */
    padding: 5rem 16.5rem 1rem 16.5rem;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;

    .hero-image {
      margin-top: 1.4rem;
      width: 14rem;
      height: 14rem;
      border-radius: 7rem;
      background: url(../resourses/OIP.jpg);
      background-position: -82px;
      background-size: cover;
      box-shadow: 1px 1px 2.5px 1px #93ea89;
    }
    .hero-text {
      font-family: "DA Sans", sans-serif;
      text-align: center;
      font-weight: 10;
      font-size: small;
    }
  }
}

h1 {
  font-family: "Montserrat";
  font-weight: 100;
  font-size: x-small;
}

h2 {
  font-size: large;
  letter-spacing: 0.5rem;
}

h2,
h3 {
  font-family: "Montserrat";
  font-weight: 200;
  padding: 0.6rem 0;
}

.h3-wrap {
  padding-top: 2rem;
  width: 100%;

  h3 {
    display: flex;
    justify-content: start;
    width: 100%;
    font-size: xx-large;
    letter-spacing: 0.6rem;
    margin-top: 0;
  }
}
/* screens smaller than 1024px */
/* @media only screen and (min-width: 375px) and (max-width: 424px) {
  .hero-container {
    max-width: 256px;
    padding: 2rem 2rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .hero-image {
      margin-top: 1.4rem;
      width: 12rem;
      height: 12rem;
      border-radius: 6rem;
      background: url(../resourses/OIP.jpg);
      background-position: -71px;
      background-size: cover;
      box-shadow: 1px 1px 2.5px 1px #93ea89;
    }
    .hero-text {
      font-family: "DA Sans", sans-serif;
      text-align: center;
      font-weight: 10;
      font-size: small;
    }
  }
}

h1 {
  font-family: "Montserrat";
  font-weight: 100;
  font-size: x-small;
}

h2 {
  font-size: large;
  letter-spacing: 0.5rem;
}

h2,
h3 {
  font-family: "Montserrat";
  font-weight: 200;
  padding: 0.6rem 0;
}

.h3-wrap {
  padding-top: 2rem;
  width: 100%;

  h3 {
    display: flex;
    justify-content: start;
    width: 100%;
    font-size: xx-large;
    letter-spacing: 0.6rem;
    margin-top: 0;
  }
} */
/* screens smaller than 1440px */
/* @media only screen and (min-width: 375px) and (max-width: 424px) {
  .hero-container {
    max-width: 256px;
    padding: 2rem 2rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .hero-image {
      margin-top: 1.4rem;
      width: 12rem;
      height: 12rem;
      border-radius: 6rem;
      background: url(../resourses/OIP.jpg);
      background-position: -71px;
      background-size: cover;
      box-shadow: 1px 1px 2.5px 1px #93ea89;
    }
    .hero-text {
      font-family: "DA Sans", sans-serif;
      text-align: center;
      font-weight: 10;
      font-size: small;
    }
  }
}

h1 {
  font-family: "Montserrat";
  font-weight: 100;
  font-size: x-small;
}

h2 {
  font-size: large;
  letter-spacing: 0.5rem;
}

h2,
h3 {
  font-family: "Montserrat";
  font-weight: 200;
  padding: 0.6rem 0;
}

.h3-wrap {
  padding-top: 2rem;
  width: 100%;

  h3 {
    display: flex;
    justify-content: start;
    width: 100%;
    font-size: xx-large;
    letter-spacing: 0.6rem;
    margin-top: 0;
  }
} */
/* screens smaller than 2560px */
/* @media only screen and (min-width: 375px) and (max-width: 424px) {
  .hero-container {
    max-width: 256px;
    padding: 2rem 2rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .hero-image {
      margin-top: 1.4rem;
      width: 12rem;
      height: 12rem;
      border-radius: 6rem;
      background: url(../resourses/OIP.jpg);
      background-position: -71px;
      background-size: cover;
      box-shadow: 1px 1px 2.5px 1px #93ea89;
    }
    .hero-text {
      font-family: "DA Sans", sans-serif;
      text-align: center;
      font-weight: 10;
      font-size: small;
    }
  }
}

h1 {
  font-family: "Montserrat";
  font-weight: 100;
  font-size: x-small;
}

h2 {
  font-size: large;
  letter-spacing: 0.5rem;
}

h2,
h3 {
  font-family: "Montserrat";
  font-weight: 200;
  padding: 0.6rem 0;
}

.h3-wrap {
  padding-top: 2rem;
  width: 100%;

  h3 {
    display: flex;
    justify-content: start;
    width: 100%;
    font-size: xx-large;
    letter-spacing: 0.6rem;
    margin-top: 0;
  }
}  */
